$cor-white-black: #737882;

.add-listing-wrap {
  text-align: center;
  margin: 0 0 36px; }
  .add-listing-wrap h2 {
    font-weight: 300; }
  .add-listing-wrap p {
    font-size: 22px;
    font-weight: 300;
    color: $cor-white-black; }