$cor-principal: #fff;
$cor-principal-rosa: #ff3a6d;

.reserve-block {
  padding: 30px 0; }
  .reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0; }
  .reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px; }
    @media (max-width: 992px) {
      .reserve-block p {
        margin: 0; } }
    .reserve-block p span {
      color: #ffb006; }

.reserve-description {
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important; }

.reserve-seat-block {
  text-align: right; }
  @media (max-width: 992px) {
    .reserve-seat-block {
      margin: 15px 0 0; } }
  @media (max-width: 768px) {
    .reserve-seat-block {
      text-align: left; } }
  @media (max-width: 576px) {
    .reserve-seat-block {
      text-align: center; } }

.reserve-rating {
  font-size: 23px;
  background: #46cd38;
  padding: 10px 14px;
  color: $cor-principal;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top; }

.review-btn {
  display: inline-block;
  text-align: center;
  margin: 3px 14px 0 14px; }
  @media (max-width: 1200px) {
    .review-btn {
      margin: 3px 4px 0 4px; } }
  @media (max-width: 576px) {
    .review-btn {
      margin: 3px 0px 0 0px; } }
  .review-btn span {
    display: block;
    color: #8a8e96;
    font-size: 13px;
    margin-top: 3px; }
  .review-btn .btn-outline-danger {
    color: $cor-principal-rosa;
    border-color: $cor-principal-rosa; }
    .review-btn .btn-outline-danger:hover {
      color: $cor-principal;
      background: $cor-principal-rosa; }

.reserve-btn {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 768px) {
    .reserve-btn {
      margin: -7px 0 0; } }
  @media (max-width: 576px) {
    .reserve-btn {
      margin: 0 0 0;
      width: 100%; } }

.custom-checkbox {
  color: #737882;
  font-size: 14px;
  line-height: 1.8;
  margin-right: 0; }
  .custom-checkbox span {
    padding: 0 10px 0 0; }